nav li {
  margin-right: 3rem;
  margin-top: 2rem;
  justify-content: right;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 2rem;
}

h1 {
  margin-left: 2rem;
  margin-top: -2rem;
  justify-content: left;
  align-items: center;
  text-align: center;
  display: flex;
}

p {
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
